upstream webserver {
    server webserver:80;
}

proxy_set_header   Host $host;
proxy_set_header   X-Real-IP $remote_addr;
proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
proxy_set_header   X-Forwarded-Host $server_name;

server {

    listen 80;

    #TODO: Cambiare il nome del sito per accedere al vh
    server_name .nomedelsito.local;

    location / {
        proxy_pass         http://webserver;
        proxy_redirect     off;
    }

}